html {
  background-color: rgb(255, 255, 255);
  font-family: "Nunito", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  max-width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.navbar {
  background-color: #202b53;
  height: 8vh;
}

.log {
  background-color: white;
}

.present {
  display: flex;
  align-items: top;
  justify-content: center;
  margin-top: 20vh;
  margin-bottom: 5vh;
  flex-basis: 100%;
  height: 80vh;
}
.present .text {
  padding: 4vh 4vh 4vh 4vh;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  color: #202b53;
  display: flex;
  flex-wrap: wrap;
  height: 40vh;
  text-align: center;
  justify-content: center;
}
.present .text button {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  width: 50vw;
  height: 20vh;
  font-size: 5vw;
  background-color: #ABABFC;
  color: #202b53;
  margin-top: 10vh;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
}
.present .text button a {
  display: flex;
  height: 100%;
  flex-basis: 100%;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  color: #202b53;
}
.present .text h1 {
  font-size: 3.5vw;
}
.present .text h2 {
  margin-top: 5vh;
  font-size: 2vw;
}

.panel-container {
  margin-top: 50vh;
  display: flex;
  justify-content: center;
  background-color: white;
  flex-basis: 100%;
  height: 60vh;
  border-radius: 20px;
  margin-top: 20vh;
  margin-bottom: 20vw;
  min-width: 360px;
  min-height: 200px;
}
.panel-container .panel {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  background-color: rgb(120, 120, 255);
  flex-basis: 100%;
}
.panel-container .panel .demo {
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.panel-container .panel .logo {
  justify-content: center;
}
.panel-container .panel div {
  position: relative;
  display: flex;
  flex-basis: 50%;
  align-items: top;
  margin-top: 6vh;
  flex-wrap: wrap;
  font-size: 3.2vw;
  color: #202b53;
}
.panel-container .panel div img {
  width: 23vw;
  height: 23vw;
  border-radius: 50px;
}
.panel-container .panel div p {
  font-weight: 800;
}
.panel-container .panel div button {
  display: flex;
  align-items: center;
  height: 8vh;
  width: 25vw;
  background-color: white;
  margin: 0;
  border: none;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 2vw;
}
.panel-container .panel div button a {
  font-family: "Nunito" sans-serif;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  color: #202b53;
  font-size: 2vw;
}

@media screen and (max-width: 500px) {
  .main-container {
    max-width: 100%;
    height: -moz-min-content;
    height: min-content;
  }
  .main-container .present {
    margin-top: 10vh;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 0;
  }
  .main-container .present .text {
    align-items: end;
    padding: 0 10px 0 10px;
  }
  .main-container .present .text h1 {
    font-size: 25px;
  }
  .main-container .present .text h2 {
    margin-top: 0;
    font-size: 15px;
  }
  .main-container .present .text button {
    margin: 0;
    height: 10vh;
  }
  .main-container .panel-container {
    margin-top: 10vh;
    height: 30vh;
    max-width: 90vw;
  }
  .main-container .panel-container .panel {
    align-items: center;
  }
  .main-container .panel-container .panel .logo {
    width: 90%;
    height: 90%;
    margin: 0;
    align-items: center;
  }
  .main-container .panel-container .panel .logo img {
    width: auto;
    height: auto;
    border-radius: 30px;
    padding: 10px;
    min-width: 150px;
    min-height: 150px;
  }
  .main-container .panel-container .panel div {
    margin: 0;
  }
  .main-container .panel-container .panel div button {
    width: 100%;
    margin-right: 10px;
  }
  .main-container .panel-container .panel div button a {
    font-size: 4vw;
  }
  .main-container .panel-container .panel div p {
    font-size: 4vw;
  }
}/*# sourceMappingURL=Main.css.map */